page-lista {
    .accordion-list {
        background: color($colors, light);
        height: 100%;
    }

    .section {
        background: #fff;
        color: #000;
        margin-bottom: 4px;
    }

    .section-active {
        background: color($colors,primary);
        color: #fff;
    }

}
